{% extends 'base.html' %}
{% block title %} Update {% endblock title %}
{% block body %}

<div class="container my-3">
    <h2>Update Todo</h2>
    <form id="updateForm">
    <div class="mb-3">
        </br>
            <label for="title" class="form-label">Update Title</label>
            <input type="text" class="form-control" name="title" value="{{todo.title}}" id="title">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Update Description</label>
            <input type="text" class="form-control" name="description" value="{{todo.description}}" id="desc">
        </div>
        <button type="submit" class="btn btn-info">Update</button>
    </form>
</div>

<script>

document.getElementById("updateForm").addEventListener("submit", async function(e){

    e.preventDefault()

    const title = document.getElementById("title").value
    const description = document.getElementById("desc").value
    const id = {{todo.sno}}

    const response = await fetch(`/todo?id=${id}`, {
        method: "PUT",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            todo: title,
            description: description
        })
    })

    const data = await response.json()

    console.log(data.msg)

    window.location.href = "{{ url_for('pages.todo_page') }}"

})

</script>

{% endblock body %}